body {
 background-color:yellow;
}
 
h1{
 color:blue;
 font-family: verdana;
 font-size: 300%;
}

img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

p {
  border: 2px solid powderblue;
  padding: 30px;
}