body {
 background-color:yellow;
}
 
h1{
 color:blue;
 font-family: verdana;
 font-size: 300%;
}

img {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 150px;
}
}

p {
  border: 2px solid powderblue;
  padding: 30px;
}