.relative{
    position: relative;
    left: 300px;
    top: 100px;
    height: 100px;
    background-color: yellow;
    border: 10px solid green;
    width: 150px;
    z-index: 2
}

.rel2{
  position: relative;
  left: 50px;
  top: 50px;
  height: 70px;
  background-color:green;
  border: 10px dotted yellow;
  width: 100px;
  z-index: 0
}

.abso{
  position: absolute;
  right: 50px;
  bottom: 50px;
  height: 70px;
  background-color:blue;
  border: 10px solid black;
  width: 100px;
  z-index: 1
}